
<!--extends, index herdando da base.html-->
{% extends "base.html" %}

{% block body %}
	<!--Informando o Bootstrap que usará 12 colunas-->
	<div class="col-lg-12">

		<div class="painel painel-default">
			<div class="painel-heading">
				<strong> Todos os Perfis</strong>
			</div>

			<!--<h1>Bem-vindo ao Experiencein</h1>-->
			{% if perfis %}
			<ul>
				{% for perfil in perfis %}
				<li>
					<a href="{% url 'exibir' perfil.id %}">{{perfil.nome}}</a> / {{perfil.email}}
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>Nenhum perfil encontrado</p>
			{% endif %}
		</div>
		<!--Bloco novo de código que exibe os convites-->

		<div class="painel painel-default">
			{% with total_de_convites=perfil_logado.convites_recebidos.count %}
				{% if total_de_convites %}
					<div class="painel-heading">

						<strong> Você tem {{total_de_convites }} convite{{ total_de_convites|pluralize }} aguardando aprovação</strong>

					</div>

					<ul class="list-group">

						{% for convite in perfil_logado.convites_recebidos.all %}

						<li class="list-group-item">

							{{ convite.solicitante.nome }}

							<a href="{% url 'aceitar' convite.id %}" class="pull-right">aceitar</a>

						</li>
						{% endfor %}
					</ul>
				{% else %}

					<div class="painel-body">

						<p> Nenhum convite recebido :(</p>

					</div>

				{% endif %}
				{% endwith %}
			</div>
			<!-- Fim do bloco novo -->
		</div>

		<div class="painel painel-default">
			{% with total_de_contatos=perfil_logado.contatos.cont %}
					{% if total_de_contatos %}
						<div class="painel-heading">

							<strong> Você tem {{total_de_contatos}} contatos{{ total_de_contatos|pluralize }} </strong>

						</div>
						<ul class="list-group">

							{% for contato in perfil_logado.contatos.all %}
								<a href="{% url 'exibir' contato.id %}" class="list-group-item">{{ contato.nome }}</a>

								{% endfor %}

						</ul>
				{% else %}
						<div class="painel-body">
							<p>Você não possui contatos no momento :(</p>
						</div>
				{% endif %}
			{% endwith %}			

		</div>
		{% endblock %}